<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>
<body>

<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <form action="/rooms/save" th:object="${room}" method="POST">

        <label>Room number</label><br>
        <input type="text" placeholder="Enter the room number" th:field="${room.roomNumber}"><br>

        <label>Room description</label><br>
        <input type="text" placeholder="Enter the description of this room" th:field="${room.description}"><br>

        <label>Number of students</label><br>
        <input type="text" placeholder="Enter the number of students that can live in this room" th:field="${room.noOfStudents}"><br>

        <select th:field="*{hostel}">
            <option th:each="hostel : ${allHostels}"
                    th:value="${hostel.hostelId}"
                    th:text="${hostel.name}">

            </option>
        </select><br>

        <button type="submit">Create room</button>
    </form>
</div>

</body>
</html>